version: '2'

services:
  mongo:
    image: mongo:3
    volumes:
      - .data/mongo:/data/db

  elasticsearch:
    image: elasticsearch:2
    command: "elasticsearch -Des.cluster.name='graylog'"
    volumes:
      - .data/elasticsearch:/usr/share/elasticsearch/data

  graylog:
    env_file: .env
    environment:
      GRAYLOG_REST_TRANSPORT_URI: "https://${VIRTUAL_HOST}:12900"
    image: graylog2/server:2.0.0-1
    depends_on:
      - mongo
      - elasticsearch
    ports:
      - "514:20514/tcp"
      - "514:20514/udp"
      - "12201:12201/tcp"
      - "12201:12201/udp"
    volumes:
      - .data/journal:/usr/share/graylog/data/journal
      - .data/config:/usr/share/graylog/data/config
      - .certs:/var/opt/graylog/data/certs:ro

  caddy:
    build: caddy
    env_file: .env
    depends_on:
      - graylog
    ports:
      - "80:80"
      - "443:443"
      - "12900:12900"
    volumes:
      - .data/caddy:/root/.caddy
